.background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 370px;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: 1px solid var(--primary-border-color);
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title{
    color: var(--primary-text-color);
    font-weight: 600;
    text-align: center;
}

.form_control {
    background-color: var(--primary-color) !important;
    color: var(--primary-text-color) !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
}

.form_control:focus {
    outline: none !important;
    background-color: var(--primary-color) !important;
}

.form_control::placeholder {
    color: var(--secondary-text-color) !important;
    font-size: 14px !important;
}

.divider{
    padding: 0;
    margin: 0;
    border-color: var(--primary-border-color) !important;
}

.btn_register{
    width: 100%;
    color: var(--primary-color) !important;
    background-color: var(--primary-text-color) !important;
    border: none !important;
    margin-top: 15px;
}

.invalid_feedback{
    font-size: 12px;
    color: red;
    margin-left: .75rem;
}


.invalid{
    border: 1px solid red !important;
}


.show {
    display: flex;

    .container {
        animation: slideIn 0.2s ease-in-out forwards;
    }
}

.hide {
    display: none;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}