.btn_accept{
    background-color: var(--primary-text-color) !important;
    border: 1px solid var(--primary-border-color) !important;
    color: var(--primary-color) !important;
}

.btn_no{
    background-color: var(--primary-color) !important;
    border:1px solid var(--primary-border-color) !important;
    color: var(--primary-text-color) !important;
}

.link{
    all: unset;
    cursor: pointer;
}

.avatar {
    width: 50px;
    height: 50p;
    overflow: hidden;
}

.text_secondary {
    color: var(--secondary-text-color);
}