.profile_container{
    width: 640px;
    max-width: 640px;
    overflow-x: hidden;
    background: var(--primary-color);
    color: var(--primary-text-color);
    border-radius: 1rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
}

.profile_header{
    padding: 2rem;
}

.avatar{
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.avatar img {
    width: 100%;
        height: 100%;
        object-fit: cover;
}

.text_secondary{
    color: var(--secondary-text-color);
}

.update_profile_btn{
    background-color: var(--primary-color);
    color: var(--primary-text-color) !important;
    border-color: var(--primary-border-color) !important;
}

.follow_btn {
    background-color: var(--primary-text-color) !important;
    color: var(--background-color   ) !important;
}

.list_link_button a {
    all: unset;
    cursor: pointer;
}