.btn_icon {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    cursor: pointer;
    color: var(--secondary-text-color) !important;
}

.btn_icon:hover {
    background-color: var(--secondary-icon-hover-color) !important;
}

.avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.feed_container {
    width: 100%;
    color: var(--primary-text-color);
}

.feed_body{
    flex: 1 1 0%;
    min-width: 0;
}

.btn_icon_container{
    position: relative;
    left: -9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.comment_container {
    border-bottom: 1px solid var(--primary-border-color) !important;
    /* max-width: 727.4px; */
    width: 100%;
}

.comment_container .btn_icon_container {
    width: 27% !important;
}

.text_secondary{
    color: var(--secondary-text-color);
}

.link{
    all: unset;
    cursor: pointer;
}

.online::after{
    content: " ";
    display: inline-block;
    background-color: rgb(92, 255, 47);
    border-radius: 50% ;
    width: 12px;
    height: 12px;
    position: relative;
    left: 27px;
    top: -17px
}