.btn_icon:active {
    background-color: rgba(186, 186, 186, 0.586) !important;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.btn_icon {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    cursor: pointer;
}

.btn_icon:hover {
    background-color: rgba(186, 186, 186, 0.586) !important;
}

.avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.feed_container {
    width: 100%;
}

.feed_body{
    flex: 1 1 0%;
    min-width: 0;
}

.btn_icon_container{
    position: relative;
    left: -9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.comment_container {
    border-bottom: 1px solid #ccc;
    /* max-width: 727.4px; */
    width: 100%;
}

.comment_container .btn_icon_container {
    width: 27% !important;
}