.alert_container {
    position: fixed;
    top: 86%;
    left: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: end;
    animation: slideIn 0.7s ease;
    z-index: 1100;
}
.btn_custom{
    min-width: 100px;
    width: auto;
    background-color: var(--primary-button-color);
    color: var(--background-color);
    border-radius: 10px;
    padding: 0.8rem 1rem;
    font-weight: 750;
}

.btn_close_custom{
    font-size: 13px;
    position: relative;
    color: var(--primary-button-color);
    left: 15px;
    top: -1px;
}

.btn_close_custom:hover{
    color: var(--secondary-text-color);
    cursor: pointer;
}


.hide_alert {
    animation: slideOut 0.5s ease forwards;
}

.show_alert {
    animation: slideIn 0.5s ease forwards;
}
/* 
.hidden {
    display: none;
} */

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(30px);
    }
}