.comment_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    /* padding: 1rem; */
   
}

.comment_input{
    padding: 1rem 0 0 0;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.list_comments{
    width: 100%;
}