.feed_detail_main_container {
    width: 100%;
    height: auto;
}

.feed_detail_main_dialog{
    width: 777px;
    max-width: 777px;
    height: auto;
    overflow-x: hidden;
}

.comment_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    /* padding: 1rem; */
   
}

.comment_input{
    padding: 1rem 0 0 0;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.list_comments{
    width: 100%;
}

.comment_container {
    border-bottom: 1px solid #ccc;
    /* max-width: 727.4px; */
}

