.user_card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    color: var(--primary-text-color);
    background-color: rgba(86, 86, 86, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
}

.user_card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.info_title {
    font-weight: bold;
    margin: 20px 0 10px;
}

.info_text {
    font-size: 14px;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

.button {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.deactivate_btn {
    background-color: black;
    color: white;
}

.delete_btn {
    background-color: var(--primary-color);
    font-weight: 500;
    color: red;
    border: 1px solid var(--primary-border-color);
}