.theme_container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
    border: 1px solid var(--primary-border-color);
    border-radius: 15px;
    position: relative;
}

.theme_item {
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
    position: relative;
    z-index: 2;
    
}

.theme_item_light{
    font-size: 2rem;
}

.theme_item_night{
    font-size: 1.5rem;
}

.theme_item_auto{
    font-size: 1.3rem;
    font-weight: 550;
}

.active{
    position: absolute;
    top: 0;
    left: 0;
    width: 33.33%;
    height: 100%;
    opacity: 0.7;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-border-color);
    border-radius: 15px;
    z-index: 1;
}