.img_preview_container{
    position: relative;
    width: fit-content;
    height: 300px;
    max-height: 400px;
    border-radius: 10px;
    margin: 5px 10px 5px 0px ;
    padding: 0;
    overflow: hidden;
}
.img_preview_container img{
    object-fit: contain;
    height: 100%;
}

button.btn_close_custom {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    padding: 0;
}

