.img_preview_container{
    position: relative;
    width: fit-content;
    border-radius: 10px;
    margin: 5px 10px 5px 0px ;
    padding: 0;
    overflow: hidden;
}
.img_preview_container img{
    object-fit: contain;
}

.btn_close_custom {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(82, 82, 82, 0.839);
    top: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    padding: 0;
    cursor: pointer;
}

.btn_close_custom:hover {
    background-color: rgba(51, 51, 51, 0.9);
}
