.zoom-container {
    position: fixed ;
    padding-bottom: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1500;

}

.zoom-container img {
    object-fit: cover;
}