.comment_input_container{
    width: 100%;
    color: var(--primary-text-color);
}

.comment_input_dialog{
    width: 100%;
}

.comment_input_body{
    max-width: 616px;
}

.comment_input_data{
    position: relative;
}

.form_control_custom{
    border: none !important;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.form_control_custom:focus{
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

.before_content{
    border: 2px solid var(--primary-border-color);
    width: 1px;
}

.icon_container {
    position: relative;
    display: flex;
    align-items: center;
}

.comment_input_dialog button {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: rgba(76, 76, 76, 0.736) !important;
}

.emoji_picker_popup{
    position: absolute;
    transform: translate(64px, -210px);
    z-index: 1500;
}

.gif_picker_popup {
    position: absolute;
    transform: translate(100px, -210px);
    z-index: 1000;
}

.icon_custom{
    padding-right: 0 !important;
    border: none !important;
}

.icon_custom i {
    color: var(--secondary-icon-color) !important;
}

.modal_footer_custom{
    display: flex;
    flex-direction: row-reverse;
}

.avatar{
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.icon_container label {
    padding-left: 0.6rem;
}

.icon_container label i {
    font-size: 17px;
    color: var(--secondary-icon-color) !important;
}

.input_file {
    display: none;
}