.modal-background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(44, 44, 44, 0.861);
    z-index: 1000;;
}

.modal-dialog-custom{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dialog-custom .modal-content {
    width: 620px;
    min-height: 275px;
    max-height: 80%;
    height: auto;
    background-color: white;
    z-index: 500;
}

.modal-dialog-custom .modal-content .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0.5rem;
    border-bottom: 1px solid #00000023;
}

.modal-footer-custom {
    height: 74px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textarea-container{
    width: 100%;
    max-height: 384.4px;
    overflow-y: auto;
    scrollbar-width: none;
}

/* Avatar styles */

.avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

/* Form control styles */

.form-control-custom{
    border: none;
    font-weight: 600;
}

.form-control-custom:focus {
    box-shadow: none;
    outline: none;
}

.form-control-textarea-custom{
    width: 97%;
    max-height: 370px;
    height: auto;
    /* overflow-y: auto; */
    scrollbar-width: none;
    resize: none;
    outline: none;
}

/* Button styles */
.submit-btn{
    font-weight: 600 !important;
    color: #000 !important;
    
}

.modal-dialog-custom .btn{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: rgba(76, 76, 76, 0.736) !important;
}

.modal-dialog-custom .btn:active {
    transform: scale(0.93);
}

.before-content {
    position: absolute;
    top: 1rem;
    left: -1.81rem;
    border: 2px solid #00000023;
    width: 1px;
    min-height: 75px;
}

/* Emoji picker styles */

.emoji-picker-popup{
    position: absolute;
    bottom: 30px;
    left: 70px;
    z-index: 1000;
}

/* GIF picker styles */

.gif-picker-popup {
    position: absolute;
    bottom: 30px;
    left: 105px;
    z-index: 1000;
}

.form-select{
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 10px !important;
    color: rgba(76, 76, 76, 0.736) !important;
}

/* Show-hide modal styles */

.hide-modal {
    display: none;
    background-color: #333;

}

.show-modal {
    display: block;

    .modal-dialog-custom {
        animation: slideIn 0.5s ease forwards;
    }

}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

