.save_container {
    border: 1px solid var(--primary-border-color);
    background-color: var(--primary-color);
    width: 777px;
    max-width: 777px;
    height: auto;
}

.header {
    width: 777px;
    padding: 0 0 1.3rem 0;
    font-size: 18px;
    color: var(--primary-text-color);
    text-align: center;
}

.feed_card {
    padding: 2.5rem 1rem 2rem 2rem;
    border-bottom: 1px solid var(--primary-border-color);
}

.line {
    color: var(--primary-border-color);
    margin: 0;
}