.avatar_container {
    width: 50px;
    height: 50px;
    overflow: hidden;

}

.text_secondary {
    color: var(--secondary-text-color) !important;
}

.not_following{
    background-color: var(--primary-text-color) !important;
    color: var(--background-color) !important;
    font-weight: 600;
}

.following{
    background-color: var(--primary-color) !important;
    color: var(--primary-text-color) !important;
    border: 2px solid var(--primary-border-color) !important;

}