.feed_save_container{
    width: 100%;
    max-width: 620px;
    margin: 0;
    padding: 20px 0px 20px 20px;
    display: flex;
}

.feed_save_body{
    flex: 1 1 0%;
    min-width: 0;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}