.feed_save_container{
    width: 100%;
    max-width: 620px;
    margin: 0;
    padding: 10px 10px 10px 0px;
    display: flex;
    border-bottom: 1px solid rgb(160, 159, 159);
}

.feed_save_body{
    width: auto;
    max-width: 95%;
}