.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background: white;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    justify-content: space-between;
    z-index: 10;
}

.sidebar_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_icon {
    margin: 1rem 0;
}

.menu_icon i {
    font-size: 1.7rem;
    margin: 0.5rem 0;
    color: #6e6d6d;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 20%;
}

.menu_icon i:hover {
    background-color: #f7f3f3;
    transform: scale(1.1);
}

.menu_icon i.bi_plus:hover{
    color: #000000;
}

.menu_icon i.active {
    color: var(--primary-color);
}

.menu_icon i.bi_plus {
    font-size: 2.5rem;
    color: #6e6d6d;
    background-color: #cdcccc;
    padding: 0.1rem 0.9rem !important;
}

.dropdown_menu_custom{
    position: absolute;
    z-index: 2000;
    width: 200px;
}

.dropdown_menu_custom li {
    padding: 0.2rem 1rem;
    font-size: 1rem;
    list-style-type: none;
}

.dropdown_menu_custom li a {
    font-weight: 650 !important;
}