.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    /* bottom: 0;
    width: 100vw;
    height: 80px; */

    background: white;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    justify-content: space-between;
    /* z-index: 5000; */
}

.sidebar-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-icon {
    margin: 1rem 0;
}

.menu-icon i {
    font-size: 1.7rem;
    margin: 0.5rem 0;
    color: #6e6d6d;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 20%;
}

.menu-icon i:hover {
    background-color: #f7f3f3;
    transform: scale(1.1);
}

.menu-icon i.bi-plus:hover{
    color: #000000;
}

.menu-icon i.active {
    color: var(--primary-color);
}

.menu-icon i.bi-plus {
    font-size: 2.5rem;
    color: #6e6d6d;
    background-color: #cdcccc;
    padding: 0.1rem 0.9rem !important;
}

.dropdown-menu li {
    padding: 0.2rem 1rem;
    font-size: 1rem;
    list-style-type: none;
}

.dropdown-menu li a {
    font-weight: 650 !important;
}