.logo_custom{
    width: 100%;
    max-width: 50px;
    min-width: 0;
    height: auto;
    border-radius: 10%;
    overflow: hidden;
}

.logo_custom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link_card{
    cursor: pointer;
}