.background{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    background-color: var(--background-color);
    margin: 0;
}
.header{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    margin-bottom: 1rem;
}

.header h5{
    color: var(--primary-text-color);
    margin: 0;
}

.header button{
    background-color: transparent;
    border: none;
    color: var(--primary-icon-color);
    font-size: 1.5rem;
}

.dialog{
    width: 800px;
    border: 1px solid var(--primary-border-color);
    background-color: var(--primary-color);
    padding: 1rem;
}

.poster{
    width: 100%;
}

.post_item{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.feed{
    width: 800px;
}
.feed_card_item {
    padding: 1rem;
    background-color: var(--primary-color) !important;
    color: var(--primary-text-color) !important;
    border-color: var(--primary-border-color) !important;
}