.loading-page {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.8);
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader{
        width: 80px;
        height: 80px;
    }

}