/* body {
    background-color: #ffffff;
    font-family: "Segoe UI", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1rem;
} */
.login-container {
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-box {
    /* background: #f9f9f9; */
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05); */
}

.login-box input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    background: #fff;
}

.login-box input:focus {
    outline: none;
    border-color: #000;
}

.btn-login {
    background: var(--primary-color);
    color: #fff;
    width: 100%;
    padding: 0.75rem;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    transition: background 0.2s ease-in-out;
}

.btn-login:hover {
    background: #333;
}

.divider {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
    margin-right: 0.5em;
}

.divider:not(:empty)::after {
    margin-left: 0.5em;
}

.footer-links {
    font-size: 0.85rem;
    margin-top: 2rem;
}

.footer-links a {
    margin: 0 8px;
    color: #888;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.qr-box {
    position: fixed;
    bottom: 16px;
    right: 16px;
    text-align: center;
    font-size: 0.8rem;
    color: #555;
}

.qr-box img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.register-btn {
    background-color: white;
    color: #000;
    width: 232.35px;
    height: 48px;
    font-size: 18px;
    padding: 6px 12px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.register-btn:hover {
    scale: 1.05;
}

.facebook-login-btn {
    background-color: #4267b2;
    color: #fff;
    font-size: 16px;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    transition: ease-in-out 0.2s;
}

.facebook-login-btn:hover {
    scale: 1.05;

}