.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.306);
    z-index: 1000;
    display: flex !important;
    justify-content: center;
}


.modal_confirm_dialog {
    display: flex;
    align-items: center;
    width: 280px;
    height: 100vh;
    overflow-x: hidden;
}

.modal_background .modal_confirm_container {
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.modal_confirm_header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid var(--primary-border-color);
}

.modal_confirm_body{
    width: 100%;
    height: 60px;
}

.col_left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 0.5px solid var(--primary-border-color);
    cursor: pointer;
}

.col_left:active{
    color: #b8b8b8;
}

.col_right:active{
    color: #7a0000 !important;
}

.col_right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-left: 0.5px solid var(--primary-border-color);
    color: #d30000;
    cursor: pointer;
}

.show_confirm_modal {
    display: block;

    .modal_confirm_container{
        animation: slideIn 0.3s ease-in-out forwards;
    }
}

.hide_confirm_modal{
    display: none !important;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}