.feed_dialog {
    width: 100%;
    max-width: 100%;
    padding: 2rem;
    border-bottom: 0.5px solid #dadada;
}
.repost_title{
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    font-size: 14px;
}

.text_secondary{
    color: var(--secondary-text-color);
}