.avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.user_card_content {
    flex: 1 1 0%;
    min-width: 0;
}

.button_custom {
    width: fit-content;
    height: 35px;
    border: 1px solid var(--primary-border-color);
    background-color: transparent;
    color: var(--primary-text-color);
}