.main_feed {
    width: 100%;
    padding-top: 40px;
}

.container{
    width: 640px;
    background: var(--primary-color);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
    border: 1px solid var(--primary-border-color);
    color: var(--primary-text-color);
}

.form_custom{
    background-color: transparent !important;
    color: var(--primary-text-color) !important;
    border: none !important;
    box-shadow: none !important;
}

.form_custom::placeholder{
    color: var(--secondary-text-color) !important;
}

.search_input{
    background-color: var(--primary-color);
    border: 2px solid var(--primary-border-color);
}

.search_input span{
    background-color: var(--primary-color) !important;
    color: var(--primary-text-color) !important;
}

.search_input span i{
    color: var(--primary-text-color) !important;
}

.list_custom{
    background-color: var(--primary-color) !important;
}

.hr_custom{
    margin: 0;
    border: 1.5px solid var(--primary-border-color);
}

.text_secondary{
    color: var(--secondary-text-color) !important;
}

