.modal_background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(44, 44, 44, 0.861);
    z-index: 1000;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.modal_dialog{
    width: 280px;
    /* height: 226px; */
    background-color: var(--primary-color);
    overflow-x: hidden;
    border: 1px solid var(--primary-border-color);
}

.modal_header{
    height: 70px;
    padding: 20px 24px 8px 24px;
    margin-bottom: 12px;
}

.modal_description{
    padding: 0 24px 20px 24px;
    width: 100%;
}

.modal_description p{
    font-size: 14px;
}

.modal_body{
    width: 100%;
    height: 54px;
}

.button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_left{
    border-right: 1px solid var(--primary-border-color) !important;
}

.btn_right{
    border-left: 1px solid var(--primary-border-color) !important;
}

.hide{
    display: none;
}

.show{
    display: block;
}