.editor_input{
    border: none;
    outline: none;
    width: 100%;
    scrollbar-width: none;
}

.editor_input p {
    margin: 0;
    padding: 0;
}

.editor_input:focus{
    outline: none;
    box-shadow: none;
    border: none;
}

.placeholder{
    position: absolute;
    top: 0;
    left: 0px;
    color: #676767;
}



.text_container {
    width: 100%;
    height: auto;
    padding: 5px;
    padding-left: 9px;
    border: none;
}

.text_container:focus {
    outline: none;
}

