@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
:root {
  --primary-color: rgb(24, 24, 24);
}

body {
  font-family:'TikTok Sans', system-ui, Helvetica, Arial, sans-serif !important;
}