.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(44, 44, 44, 0.861);
    z-index: 1000;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.modal_dialog {
    width: 548px;
    min-height: 226px;
    max-height: 90vh;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-border-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    scroll-margin-block-end: 20px !important;
}

.modal_header {
    padding: 20px 24px 8px 24px;
}

.modal_description {
    padding: 0 24px 20px 24px;
    width: 100%;
}

.modal_description p {
    font-size: 14px;
}

.modal_body {
    flex: 1 1 0%;
    min-height: 0;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    height: 100%;
    padding: 0 10px 0 10px;
}

.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty{
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_secondary {
    color: var(--secondary-text-color);
}

.hide {
    display: none;
}

.show {
    display: block;
}