.home_main_container{
    width: 100%;
    height: 100vh;
    overflow-x: auto;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.feed_card_item{
    width: 777px;
    padding: 1rem;
    background-color: var(--primary-color) !important;
    color: var(--primary-text-color) !important;
    border-color: var(--primary-border-color) !important;
}

.card{
    width: 777px;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-border-color) !important;
}

.post_button{
    color: var(--primary-text-color) !important;
    border-color: var(--primary-border-color) !important;
}

.spinner{
    color: var(--primary-text-color) !important;
}